body 
{
    background-color: #666;
    color: #CCC;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;

    font-size: 12pt;

    text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
}

.container_12
{
}

/* -------------------- JAMES THORNE NAME BAR ------------------------ */
.left_extend
{
    position: absolute;
    left: 0px;
    right: 50%;
    top: 20px;
    height: 104px; 

    background-color: black;
}

.name_bar
{
    color: white;
    background-color: black;

    height: 104px;
}

.name_bar_end
{
    background: url(../img/name_banner_right.png);
    width: 50px;
    height: 104px;

    position: relative;
    left: -20px;
}

.tag_bar
{
    padding-top: 20px;

    position: relative;
    z-index: 1;
}

.name_bar img
{
    margin-top: 21px;
    float: left;

    margin-right: 20px;
}

.name
{
    font-weight: 900;
    font-size: 35pt;

    line-height: 32pt;

    margin-top: 17px;

    font-family: "HelveticaNeue-CondensedBlack", "Helvetica Neue Condensed Black", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.tagline
{
    font-size: 15pt;
    font-weight: 100;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.james_bar 
{
    height: 550px;
}

.james_bar .background_image
{
    background: #888 url(../img/header-550.jpg) center top;

    position: fixed;
    left: 0px;
    right: 0px;
    height: 550px;

    z-index: -2;
}

/* -------------------- WELCOME TEXT ------------------------ */

.welcome
{
    text-align: center;
    color: #CCC;
    font-size: 18pt;
}

em
{
    font-style: normal;
    color: #00ADED;
}

/* -------------------- MAIN BODY ------------------------ */

.main_body
{
    background-color: #DDD;
    box-shadow: 0px 0px 10px #000;
    min-height: 600px;

    background: url(../img/dark_fish_skin.png);
}

p
{
    padding-top: 20px;
    margin-bottom: 0px;
}

ul
{
    margin-top: 20px;
}

a
{
    color: #999;
    text-decoration: underline;
}
a:hover
{
    color: #00ADED;
}

.section
{
    margin-top: 100px;
}

.section_header
{
    margin-top: 100px;

    text-align: center;
    font-size: 18pt;

    color: #00ADED;

    background-image: url(../img/header-lines.png);
    background-position: center center;
    background-repeat: no-repeat;

    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.section_header i
{
    font-size: 14pt;
}

/* -------------------- APP STORE LINKS ----------------------- */
.appstore
{
    width: 150px;
    height: 53px;
    background: url(../img/appstore.png);

    cursor: pointer;
}
.appstore:hover
{
    background: url(../img/appstore-white.png);
}

/* -------------------- ANTEX ----------------------- */

.iPad
{
    background: url(../img/ipad-antex.png);
    width: 960px;
    height: 557px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.iPad iframe
{
    position: relative;

    top: 66px;
    left: 72px;
}

.iPad .youtube5placeholder
{
    position: relative;

    top: 66px;
    left: 72px;
}

.iPad .sidebar 
{
    color: white;

    position: relative;
    left: 732px;
    top: -300px;

    width: 206px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}

/* -------------------- TEAM LUNCH ----------------------- */
.lunch
{
    margin-left: -14px;
    width: 993px;
    height: 653px;
    background: url(../img/team-lunch.png);
}

.lunch iframe
{
    position: relative;
    top: 405px;
    left: 524px;
}

.lunch .youtube5placeholder
{
    position: relative;
    top: 405px;
    left: 524px;
}

.lunch .sidebar
{
    position: relative;
    left: 36px;
    top: 82px;
    width: 382px;
}

.lunch .big_explain
{
    padding-top: 4px;
    font-size: 14.5pt;
}

/* -------------------- FILMSTRIP ----------------------- */
.filmstrip
{
    position: relative;

    margin-left: -16px;

    width: 997px;
    height: 646px;
    background: url(../img/filmstrip-2.png);
}

.filmstrip .actual_film
{
    position: absolute;
    top: 217px;
    left: 322px;

    width: 640px;
    height: 360px;
}

.filmstrip .sidebar
{
    position: absolute;
    left: 40px;
    top: 459px;

    width: 226px;
    height: 146px;

    overflow: scroll;
}

.film_title
{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 20px;
}

.video_pick
{
    cursor: pointer;
    font-size: 12pt;
}

.video_pick:hover
{
    color: #00ADED;
}

.video_pick.active
{
    color: #00ADED;
}
.video_pick i
{
    float: right;
    position: relative;
    top: 5px;
}

/* -------------------- PROFESSIONAL ----------------------- */
.professional
{
    font-weight: bold;
    color: #999;
    text-align: center;

    font-size: 14pt;
}

.probutton
{
    cursor: pointer;
}
.probutton:hover
{
    color: #00ADED;
}

.logo
{
    width: 300px;
    height: 100px;

    background-position: center bottom;
    background-repeat: no-repeat;

    margin-bottom: 10px;
}

.gap
{
    margin-bottom: 40px;
}

.more_prof
{
    margin-top: 100px;
    font-weight: 100;
}

/* Expandalob */

.expandalob
{
    display: none;

    margin-top: 40px;
    background: url(../img/expandalob.png);
    height: 384px;
}


/* So: there is 640px of travel for the arrow */
/* Plus the 70px the arrow is wide => 710px */

.expandalob_arrow_track
{
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}
.expandalob_arrow
{
    background: url(../img/expandalob-arrow.png);
    width: 70px;
    height: 41px;

    margin-left: 640px;
}

.expand_content
{
    width: 320px; /* 960 - 640 - 20 => 320px */

    height: 320px;
    margin-left: auto;
    margin-right: auto;

    background-position: right;
    background-repeat: no-repeat;

    padding-right: 660px;

    text-align: left;
}

.expand_content h1
{
    font-size: 16pt;
    margin-bottom: 0px;
}
.expand_content h2
{
    font-size: 12pt;
    font-weight: 100;

    margin-bottom: 0px;
}

.expand_content p
{
    font-size: 11pt;
}

/* -------------------- CONTACT ----------------------- */
.contact
{
    margin-top: 40px;

    font-size: 14pt;
}

.contact_personal
{
    text-align: right;

}

.contact a
{
    color: #CCC;
    text-decoration: none;
}
.contact a:hover
{
    color: #00ADED;
}
.contact i
{
    margin-left: 5px;
    margin-right: 5px;

    display: inline-block;
    min-width: 18px;
}

/* -------------------- END ----------------------- */
.end
{
    color: #777;
    font-size: 14pt;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    width: 960px;
    border-top: solid 1px #777;

    padding-top: 40px;
    padding-bottom: 40px;
}

.end a
{
    color: #666;
}

.end a:hover
{
    color: #00ADED;
}