<!DOCTYPE html>

%html
    %head
        %title
            James Thorne

        %link{ :rel => "icon", :href => "favicon.ico", :type => "image/x-icon" }
        %link{ :rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon" }

        %link{ :rel => "stylesheet", :href => "css/reset.css" }
        %link{ :rel => "stylesheet", :href => "css/text.css" }
        %link{ :rel => "stylesheet", :href => "css/960.css" }
        %link{ :rel => "stylesheet", :href => "css/demo.css" }

        %link{ :rel => "stylesheet", :href => "css/style.css" }

        %link{ :href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,400,700", :rel => "stylesheet", :type => "text/css" }
        %link{ :href => "http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps", :rel => "stylesheet", :type => "text/css" }

        %link{ :rel => "stylesheet", :type => "text/css", :href => "font/font-awesome.min.css" }

        %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" }
        %script{ :type => "text/javascript", :src => "js/script.js" }

        %meta{ :name => "viewport", :content => "width=1000px" }

    %body
        .james_bar
            .left_extend
            .background_image

            .container_12.tag_bar
                .grid_1.name_bar
                    %img{ :src => "img/gear-60.png" }

                .grid_5.name_bar
                    .name
                        %span
                            James Thorne
                    .tagline
                        Student of Software Engineering
                .grid_1
                    .name_bar_end

        .main_body
            // =====================================================================================================================
            //                                              Welcome
            // =====================================================================================================================
            .container_12
                .grid_1
                    &nbsp;

                .grid_10.section.welcome
                    %em
                        Welcome

                    to James Thorne's portfolio.
                    James is a Software Developer, an Entrepreneur, and an Engineering Student at the University of Calgary. 
                    He has experience with desktop, web and mobile, and is passionate about new technologies. Check out what he's been up to!

            // =====================================================================================================================
            //                                              Projects
            // =====================================================================================================================
            .section_header
                <i class="icon-chevron-left"></i> featured projects <i class="icon-chevron-right"></i>

            .container_12

                // ------------------------------------ ANTEX ------------------------------------
                .section
                    .iPad
                        <iframe width="570" height="428" src="http://www.youtube.com/embed/V9eelJqRK1s" frameborder="0" allowfullscreen></iframe>

                        .sidebar
                            %p
                                Use your finger to draw a path for your forces, and fight your way through the enemy defenses.

                            %ul
                                %li
                                    Every mission is a puzzle
                                %li
                                    Story-driven campaign
                                %li
                                    120 unique maps
                                %li
                                    Full mission designer


                            .appstore{ :data => {"itunes" => "http://google.ca"} }
                                &nbsp;




                // ------------------------------------ TEAM LUNCH ------------------------------------
                .section
                    .lunch
                        <iframe width="382" height="215" src="http://www.youtube.com/embed/uNWHHugTeUA" frameborder="0" allowfullscreen></iframe>

                        .sidebar
                            .big_explain
                                It autonomously senses and avoids obstacles.

                            %p
                                This modified <a href="http://ardrone2.parrot.com">Parrot AR.Drone</a> is responsible for its own safety, so anyone can fly it. If you get too close to danger, it slows down, and maneuvers away automatically. 
                            %p
                                It works with all existing iOS and Android flight apps.
                            %p
                                The best part is that the entire system runs on-board the drone, so if you lose uplink, the drone stays safe.
                            %p
                                For more information, visit <a href="http://teamlunch.github.io">teamlunch.github.io</a>.


                // ------------------------------------ MOOFIES ------------------------------------
                .section
                    .filmstrip
                        .actual_film
                            <iframe width="640" height="360" src="http://www.youtube.com/embed/yfEue8SKwkk" frameborder="0" allowfullscreen></iframe>

                        .sidebar
                            .film_title
                                Directed and Produced

                            .video_pick.active{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/yfEue8SKwkk' frameborder='0' allowfullscreen></iframe>"}}
                                Scooby Zoo, Where Are You!

                            .video_pick{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/OxTxx9HpZeg' frameborder='0' allowfullscreen></iframe>"}}
                                Pokemon: Zoo Version

                            .video_pick{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/j0qaXSFDIE0' frameborder='0' allowfullscreen></iframe>"}}
                                Zoo Graduation Video 2013

                            .video_pick{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/pLqc-FU_v4Q' frameborder='0' allowfullscreen></iframe>"}}
                                CG Test Shots (Summer 2011)

            // =====================================================================================================================
            //                                              Professional Experience
            // =====================================================================================================================
            .section_header
                <i class="icon-chevron-left"></i> professional experience <i class="icon-chevron-right"></i>

            .container_12.professional.section
                .grid_4
                    .logo{ :style => "background-image: url(img/cdl.png);" }
                    Software Development Intern

                .grid_4
                    .logo{ :style => "background-image: url(img/pillar.png);" }
                    Application Developer

                .grid_4
                    .logo{ :style => "background-image: url(img/trident.png);" }
                    Software Developer

                .grid_12.gap

                .grid_4
                    .logo{ :style => "background-image: url(img/aguila.png);" }
                    Application Developer

                .grid_4
                    .logo{ :style => "background-image: url(img/zoo.png);" }
                    President


                .grid_4
                    .logo{ :style => "background-image: url(img/conted.png);" }
                    Teaching Assistant

                .grid_1.more_prof
                    &nbsp;
                .grid_10.more_prof
                    More detailed information is available on <a href="http://www.linkedin.com/in/jamesdonaldthorne">James' LinkedIn Profile</a>.

            // =====================================================================================================================
            //                                              Contact Me
            // =====================================================================================================================
            .section_header
                <i class="icon-chevron-left"></i> contact information <i class="icon-chevron-right"></i>

            .container_12
                .grid_1
                    &nbsp;

                .grid_10.section.welcome.contact_welcome
                    %em
                        James 

                    is always looking for a new challenge, and an opportunity to build something better. If you're doing just that, please contact him below.

                .grid_1
                    &nbsp;

                .grid_5.contact.contact_personal
                    %div
                        (403) 585-3269 <i class="icon-phone"></i>
                    %div
                        <a href="mailto:james@jamesthorne.ca">james@jamesthorne.ca</a> <i class="icon-envelope"></i>
                    %div
                        &nbsp;
                    %div
                        <a href="download/JamesThorne.pdf">Download James's Resume</a> <i class="icon-file"></i>

                .grid_2
                    &nbsp;

                .grid_5.contact.contact_internet
                    %div
                        <i class="icon-linkedin"></i> <a href="http://linkedin.com/in/jamesdonaldthorne">linkedin.com/in/jamesdonaldthorne</a>
                    %div
                        <i class="icon-github"></i> <a href="http://github.com/jdthorne">github.com/jdthorne</a>
                    %div
                        <i class="icon-sign-blank"></i> <a href="http://youtube.com/jamesthorneengg">youtube.com/jamesthorneengg</a>
                    %div
                        <i class="icon-twitter"></i> <a href="http://twitter.com/jamesdthorne">twitter.com/jamesdthorne</a>


            // =====================================================================================================================
            //                                              End
            // =====================================================================================================================
            .end
                Website designed and built by James Thorne, and hosted by <a href="http://github.com/jdthorne">GitHub</a>.<br />
                Uses iconography from <a href="http://fontawesome.github.io">Font Awesome</a>.
