<!DOCTYPE html>

%html
    %head
        %title
            James Thorne

        %link{ :rel => "icon", :href => "favicon.ico", :type => "image/x-icon" }
        %link{ :rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon" }

        %link{ :rel => "stylesheet", :href => "css/reset.css" }
        %link{ :rel => "stylesheet", :href => "css/text.css" }
        %link{ :rel => "stylesheet", :href => "css/960.css" }

        %link{ :rel => "stylesheet", :href => "css/style.css" }

        %link{ :href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,400,700", :rel => "stylesheet", :type => "text/css" }
        %link{ :href => "http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps", :rel => "stylesheet", :type => "text/css" }

        %link{ :rel => "stylesheet", :type => "text/css", :href => "font/font-awesome.min.css" }

        %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" }
        %script{ :type => "text/javascript", :src => "js/script.js" }

        %meta{ :name => "viewport", :content => "width=1000px" }

    %body
        .james_bar
            .left_extend
            .background_image

            .container_12.tag_bar
                .grid_1.name_bar
                    %img{ :src => "img/gear-60.png" }

                .grid_5.name_bar
                    .name
                        %span
                            James Thorne
                    .tagline
                        Student of Software Engineering
                .grid_1
                    .name_bar_end

        .main_body
            // =====================================================================================================================
            //                                              Welcome
            // =====================================================================================================================
            .container_12
                .grid_1
                    &nbsp;

                .grid_10.section.welcome
                    %em
                        Welcome

                    to James Thorne's portfolio.
                    James is a Software Developer, an Entrepreneur, and an Engineering Student at the University of Calgary. 
                    He has experience with desktop, web and mobile, and is passionate about new technologies. Check out what he's been up to!

            // =====================================================================================================================
            //                                              Projects
            // =====================================================================================================================
            .section_header
                featured projects

            .container_12

                // ------------------------------------ ANTEX ------------------------------------
                .section
                    .iPad
                        <iframe width="570" height="428" src="http://www.youtube.com/embed/V9eelJqRK1s" frameborder="0" allowfullscreen></iframe>

                        .sidebar
                            %p
                                Use your finger to draw a path for your forces, and fight your way through the enemy defenses.

                            %ul
                                %li
                                    Every mission is a puzzle
                                %li
                                    Story-driven campaign
                                %li
                                    120 unique maps
                                %li
                                    Full mission designer


                            .appstore{ :data => {"itunes" => "http://google.ca"} }
                                &nbsp;




                // ------------------------------------ TEAM LUNCH ------------------------------------
                .section
                    .lunch
                        <iframe width="382" height="215" src="http://www.youtube.com/embed/uNWHHugTeUA" frameborder="0" allowfullscreen></iframe>

                        .sidebar
                            .big_explain
                                It autonomously senses and avoids obstacles.

                            %p
                                This modified <a href="http://ardrone2.parrot.com">Parrot AR.Drone</a> is responsible for its own safety, so anyone can fly it. If you get too close to danger, it slows down, and maneuvers away automatically. 
                            %p
                                It works with all existing iOS and Android flight apps.
                            %p
                                The best part is that the entire system runs on-board the drone, so if you lose uplink, the drone stays safe.
                            %p
                                For more information, visit <a href="http://teamlunch.github.io">teamlunch.github.io</a>.


                // ------------------------------------ MOOFIES ------------------------------------
                .section
                    .filmstrip
                        .actual_film
                            <iframe width="640" height="360" src="http://www.youtube.com/embed/yfEue8SKwkk" frameborder="0" allowfullscreen></iframe>

                        .sidebar
                            .film_title
                                Directed and Produced.

                            .video_pick.active{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/yfEue8SKwkk' frameborder='0' allowfullscreen></iframe>"}}
                                Scooby Zoo, Where Are You! <i class="icon-chevron-right"></i>

                            .video_pick{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/OxTxx9HpZeg' frameborder='0' allowfullscreen></iframe>"}}
                                Pokemon: Zoo Version <i class="icon-chevron-right"></i>

                            .video_pick{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/j0qaXSFDIE0' frameborder='0' allowfullscreen></iframe>"}}
                                Zoo Graduation Video 2013 <i class="icon-chevron-right"></i>

                            .video_pick{ :data => {"youtube" => "<iframe width='640' height='360' src='http://www.youtube.com/embed/pLqc-FU_v4Q' frameborder='0' allowfullscreen></iframe>"}}
                                CG Test Shots (Summer 2011) <i class="icon-chevron-right"></i>

            // =====================================================================================================================
            //                                              Professional Experience
            // =====================================================================================================================
            .section_header
                professional experience

            .container_12.professional.section
                .grid_4.probutton{ :data => {"position" => "0px", "expandalob" => "1", "content_class" => "cdl" } }
                    .logo{ :style => "background-image: url(img/cdl.png);" }
                    Software Engineering Intern

                .grid_4.probutton{ :data => {"position" => "320px", "expandalob" => "1", "content_class" => "pillar" } }
                    .logo{ :style => "background-image: url(img/pillar.png);" }
                    Application Developer

                .grid_4.probutton{ :data => {"position" => "640px", "expandalob" => "1", "content_class" => "trident" } }
                    .logo{ :style => "background-image: url(img/trident.png);" }
                    Software Developer

            .expandalob.gap.expandalob_1
                .expandalob_arrow_track
                    .expandalob_arrow.expandalob_arrow_1
                        &nbsp;
                
                .expand_content.expand_content_cdl{ :style => "background-image: url(img/professional/uav.jpg)" }
                    %h1
                        Software Engineering Intern
                    %h2
                        Full-Time, 2012 - 2013

                    %p
                        I completed a 16 month internship at CDL Systems (now Lockeed Martin Canada) between May 2011 and August 2012.

                    %p
                        While at CDL, I developed real-time unmanned aircraft control software for the US Army and other clients. I designed and coded actual control software, developed automated testing, wrote technical integration manuals, and automated build and release processes.

                .expand_content.expand_content_pillar{ :style => "background-image: url(img/professional/pillar.jpg)" }
                    %h1
                        Application Developer
                    %h2
                        Consulting, 2004 - 2012

                    %p
                        At Pillar Resource Services, I developed a project management database and reporting system for a two-year construction project. I also maintained and supported the application as reporting requirements changed, and built new features as needed. 
                    %p
                        I also performed network and desktop maintenance, and developed numerous small line-of-business applications.

                .expand_content.expand_content_trident{ :style => "background-image: url(img/professional/trident.jpg)" }
                    %h1
                        Software Developer
                    %h2
                        Summer Position, 2010 - 2011

                    %p
                        At Trident, I developed an application to aggregate corporate knowledge from multiple database systems, and present it in a user-friendly and effective manner. 
                    %p
                        I gained experience with systems including Peloton WellView, QByte, and AFE Navigator. I also built several additional intranet applications to track EHS incidents, joint ventures, penalty payouts, field compressors, and more.

            .gap

            .container_12.professional

                .grid_4.probutton{ :data => {"position" => "0px", "expandalob" => "2", "content_class" => "aguila" } }
                    .logo{ :style => "background-image: url(img/aguila.png);" }
                    Application Developer

                .grid_4.probutton{ :data => {"position" => "320px", "expandalob" => "2", "content_class" => "zoo" } }
                    .logo{ :style => "background-image: url(img/zoo.png);" }
                    President/Executive


                .grid_4.probutton{ :data => {"position" => "640px", "expandalob" => "2", "content_class" => "conted" } }
                    .logo{ :style => "background-image: url(img/conted.png);" }
                    Teaching Assistant

            .expandalob.gap.expandalob_2
                .expandalob_arrow_track
                    .expandalob_arrow.expandalob_arrow_2
                        &nbsp;
                
                .expand_content.expand_content_aguila{ :style => "background-image: url(img/professional/aguila.jpg)" }
                    %h1
                        Application Developer
                    %h2
                        Consulting, 2004 - 2009

                    %p
                        At Aguila, I developed several major projects including Field Accounting System, extensive ArcMap scripting, and Nortel voicemail notification system. I also built a series of small applications for both end-users and network maintenance.

                .expand_content.expand_content_zoo{ :style => "background-image: url(img/professional/zoo.jpg)" }
                    %h1
                        President/Executive
                    %h2
                        Volunteer, 2009 - 2013

                    %p
                        I was the president of the <em>Electrical, Computer and Software Engineering Students Society</em>, aka Zoo, from 2012-2013, and served in an executive role before that.
                    %p
                        Zoo represents Electrical and Software Engineering students at the Schulich School of Engineering. It facilitates student involvement in events like Frosh Week and Engineering Week, and coordinates with the University to improve the Engineering program.

                .expand_content.expand_content_conted{ :style => "background-image: url(img/professional/conted.jpg)" }
                    %h1
                        Teaching Assistant
                    %h2
                        Part Time, 2003 - 2004

                    %p
                        I worked in the Faculty of Continuing Education, assisting students in the Certificate in Software Development Program.

            .container_12.professional
                .grid_1.more_prof
                    &nbsp;
                .grid_10.more_prof
                    More detailed information is available on <a href="download/JamesThorne.pdf">James' Resume</a>.

            // =====================================================================================================================
            //                                              Contact Me
            // =====================================================================================================================
            .section_header
                contact information

            .container_12
                .grid_1
                    &nbsp;

                .grid_10.section.welcome.contact_welcome
                    %em
                        James 

                    is always looking for a new challenge, and an opportunity to build something better. If you're doing just that, please contact him below.

                .grid_1
                    &nbsp;

                .grid_5.contact.contact_personal
                    %div
                        (403) 585-3269 <i class="icon-phone"></i>
                    %div
                        <a href="mailto:james@jamesthorne.ca">james@jamesthorne.ca</a> <i class="icon-envelope"></i>
                    %div
                        &nbsp;
                    %div
                        <a href="download/JamesThorne.pdf">Download James's Resume</a> <i class="icon-file"></i>

                .grid_2
                    &nbsp;

                .grid_5.contact.contact_internet
                    %div
                        <i class="icon-linkedin"></i> <a href="http://linkedin.com/in/jamesdonaldthorne">linkedin.com/in/jamesdonaldthorne</a>
                    %div
                        <i class="icon-github"></i> <a href="http://github.com/jdthorne">github.com/jdthorne</a>
                    %div
                        <i class="icon-sign-blank"></i> <a href="http://youtube.com/jamesthorneengg">youtube.com/jamesthorneengg</a>
                    %div
                        <i class="icon-twitter"></i> <a href="http://twitter.com/jamesdthorne">twitter.com/jamesdthorne</a>


            // =====================================================================================================================
            //                                              End
            // =====================================================================================================================
            .end
                Website designed and built by James Thorne, and hosted by <a href="http://github.com/jdthorne">GitHub</a>.<br />
                Uses iconography from <a href="http://fontawesome.github.io">Font Awesome</a>.
