doctype html

html
  head
    title James Thorne
    script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"

    style== File.open("obj/index.css").read
    script type="text/javascript"== File.open("obj/index.js").read
  
  body
    .panel#jamesthorne
      .grid
        .span3
          img.picture src="img/james-pic.png"
        .span1 &nbsp; 
        .span6
          .name James Thorne
          .title Entrepreneur, Developer, and Maker of Things
          .description
            | I can't stop making things. I've built everything from digital manufacturing systems to WebGL and iOS games to military-grade aircraft control software. I'm always on the lookout for new technologies to explore.
      
      .header Some Things I Made &blacktriangledown;
  
    .panel#printtopeer
      .grid
        .span5
          img.logo src="img/printtopeer-logo.png"
          .description
            | We're making 3D printing easier, faster, and more powerful, so all it takes is one click. PrintToPeer is the easiest way to use your 3D printer, and the easiest way to coordinate multiple 3D printers.
            
          a.call-to-action href="http://printtopeer.com" Start Printing
          
        .span5 &nbsp;
    
    .panel#richners-log
      .grid
        .span4
          img.demo src="img/richnerslog-demo.gif"
        .span1 &nbsp;
        .span5
          .logo Richner's Log
          .description
            | A story of adventure, isolation, and travel to the stars. Play a classic text-adventure game, reimagined for today's touch devices, and help Richner and Hayley complete their mission and save the galaxy.

          a.call-to-action href="http://jamesthorne.ca/richners-log" Play Now
    
    .panel#fuzzytec
      .grid
        .span5
          img.logo src="img/fuzzytec-logo.png"
          .description
            | The Evil Robots have captured Presley and his fellow fuzzles! It's up to you to help Ted rescue them, upgrade his ship, find some extra special powerups, and stop the robots!
          
          a.call-to-action href="https://itunes.apple.com/us/app/fuzzytec/id881087794?ls=1&amp;mt=8" Play Now
            
        .span1 &nbsp;
        .span4
          .iphone
            img src="img/fuzzytec-demo.gif"

    .panel#lintr
      .grid
        .span4 Demo
        .span1 &nbsp;
        .span5
          .logo lintr.co
          .description Linter
          a.call-to-action href="http://lintr.co" Check my Grammar
    
    .panel#antex
      .grid
        .span5
          .logo Antex
          .description Antex
          a.call-to-action href="https://itunes.apple.com/us/app/antex/id656352369?ls=1&amp;mt=8" Play Now
        
        .span1 &nbsp;
        .span4 Demo

    .panel#isthereanaccidentondeerfoot
      .grid
        .span4
          .demo
            .text Is there an accident on Deerfoot?
            .yes.toggles.initially-hidden Yes
            .no.toggles No
            .text.toggles.initially-hidden And the current slowness index is <b>86</b>
            .text.toggles And traffic isn't too bad either.
          
          .demo-footer
            
        .span1 &nbsp;
        .span5
          .logo Is there an accident on Deerfoot?
          .description
            | Deerfoot Trail is a major freeway in Calgary. Traffic gets really bad when there's an accident. "Is there an accident on Deerfoot?" uses the Bing and Twitter APIs to tell you, in realtime, if there's an accident on Deerfoot.
            
          a.call-to-action href="http://isthereanaccidentondeerfoot.herokuapp.com" Well, is there?
    
    .panel#whitesky
      .grid
        .span5
          .logo White Sky
          .description Hey there
          a.call-to-action href="http://whitesky.jamesthorne.ca" Play Now
          
        .span1 &nbsp;
        .span4 Demo?
    
    .panel#teamlunch
      .grid
        .span4 Demo
        .span1 &nbsp;
        .span5
          .logo Team Lunch
          .description This drone is safe.
          a.call-to-action href="http://teamlunch.github.io" More Information
    
    .panel#pokemon
      .grid
        .span5
          .logo Pokemon: Zoo Version
          .description Silly Video
          a.call-to-action href="https://www.youtube.com/watch?v=OxTxx9HpZeg" Watch Now
        .span1 &nbsp;
        .span4 Demo?
    
    .panel#contact
      .grid
        .span3
          img.picture src="img/contact-mail.png"
        
        .span1 &nbsp;
        .span6
          .logo Good Stuff.
          .description
            | I'm always looking for new technologies to explore! If you're interested in working together, shoot me an email, or take a look at my linkedin or my resume.
            